<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/src/inicio-app/inicio-app.html">
<link rel="import" href="/src/productos-app/productos-app.html">
<link rel="import" href="/src/movimientos-app/movimientos-app.html">
<link rel="import" href="/src/direccion-app/direccion-app.html">
<link rel="import" href="/src/login-app/login-app.html">


Access-Control-Allow-Origin: *;

<dom-module id="bases-app">
    <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="css/fondo.css">
    <link rel="stylesheet" href="css/estilos.css">

      <div class="container-sm innerbox" id="contenedor">

        <div class="row" id="cabecera">
          <img src="/img/bbva.jpeg" alt="" width="200px" height="50px">
          <button on-click="inicio" type="button" name="button" class="btn btn-success">INICIO</button>
          <button on-click="" type="button" name="button" class="btn btn-success">BASES</button>
          <button on-click="productos" type="button" name="button" class="btn btn-success">PRODUCTOS</button>
          <button on-click="movimientos" type="button" name="button" class="btn btn-success">MIS PEDIDOS</button>
          <button on-click="direccion" type="button" name="button" class="btn btn-success">DIRECCION DE ENVIO</button>
          <button on-click="salir" type="button" name="button" class="btn btn-success">SALIR</button>
        </div>

        <div class="row form-group" id="menu">
          <div class="card-body">
            <h5 class="card-title">Bienvenido [[name]]</h5>
            <img src="/img/usuario.jpeg" alt="" width="100px" height="100px">
              <p class="card-text">Perfil [[role]]</p>
              <p class="card-text">Puntos [[puntos]]</p>
          </div>
        </div>

        <div class="row form-group" id="contenido">
          <section id="textBox" contenteditable="true">
            <h1 style="color:red">Multimarca</h1>
            <p>El Programa de Incentivos Banca Automotriz es un Programa que ofrece Consumer Finance Auto de BBVA, S.A., en forma exclusiva para los vendedores, F&I y Gerentes de ventas de las agencias que conforman la RED de socios de la banca automotriz, que mantenga vigente la relación de negocio derivada de su alianza.

El Portal de Socios de la Banca Automotriz será el único canal de acceso al Programa de Incentivos Banca Automotriz.

El programa de Incentivos Banca Automotriz no tiene costo de inscripción. Al aceptar la inscripción al Programa de Incentivos Banca Automotriz, reconoce que el canje de los puntos correspondientes se regirán en todo tiempo por los Términos y Condiciones que aparecen a continuación o los que le sustituyan y al efecto se publiquen en la página: https://bancaautomotriz.consumerfinance.com.mx/ los cuales podrán ser modificados en cualquier momento y regirán para el usuario, por lo que su uso en cualquier tiempo implica su aceptación y acuerdo con los mismos, lo que significa que en cualquier momento y sin previo aviso se puede modificar el catálogo, los puntos necesarios para redimir un premio, imponer límites o nuevas condiciones para la acumulación, obtención, intercambio y/o redención de puntos.

Adicionalmente, Consumer Finance Auto de BBVA, S.A. se reserva el derecho de cancelar, modificar o suspender temporal o definitivamente el Programa de Incentivos Banca Automotriz a uno o varios usuarios, en cualquier momento, sin previa comunicación al participante. El Programa de Incentivos Banca Automotriz se ofrecerá de conformidad con las políticas vigentes al momento de su contratación y que para tal efecto establecen en este acto BBVA Bancomer, S.A. y el administrador del Programa. En la eventualidad de fraude o abuso de los privilegios del Programa o violación de las reglas del Programa (incluyendo cualquier intento por vender, cambiar o bien transferir, puntos o cualquier medio intercambiable por los premios), Consumer Finance Auto de BBVA, S.A. se reserva el derecho de cancelar la inscripción al Programa.</p>
            <h1 style="color:red">¿Como participar?</h1>
            <p>Para poder participar en el programa, deberán de ser invitados por sus superiores inmediatos. De tal forma, que:

• Los Gerentes de Ventas deberán recibir la invitación por su Gerente Regional Consumer Finance.
• Los F&I deberán de recibir la invitación de su Gerente de Ventas.
• Y los vendedores deberán de recibir la invitación por parte de sus F&I. Una vez se les invite a los usuarios, ellos recibirán un email de bienvenida con sus datos de acceso, deberán de acceder a la web e inscribirse en el programa para poder beneficiarse del programa de incentivos. Si un usuario no está inscrito en el momento del reparto de operaciones, no se le entregarán los puntos correspondientes. </p>
          </section>
        </div>

      </div>
</template>

    <script>
      /**
       * @customElement
       * @polymer
       */
      class BasesApp extends Polymer.Element {
        static get is() { return 'bases-app'; }
        static get properties() {
          return {
            name: {
              type: String
            },
            role:{
              type: String
            },
            puntos:{
              type:Number
            },
            idusuario: {
              type: Number
            }
          };
        }

          inicio(){
                document.body.removeChild(this);
                var elem = document.createElement('inicio-app');
                elem.setAttribute("role", this.role);
                elem.setAttribute("puntos", this.puntos);
                elem.setAttribute("name", this.name);
                elem.setAttribute("idusuario", this.idusuario);
                document.body.appendChild(elem);
              }

          productos(){
            document.body.removeChild(this);
            var elem = document.createElement('productos-app');
            elem.setAttribute("role", this.role);
            elem.setAttribute("puntos", this.puntos);
            elem.setAttribute("name", this.name);
            elem.setAttribute("idusuario", this.idusuario);
            document.body.appendChild(elem);
          }
          movimientos(){
            document.body.removeChild(this);
            var elem = document.createElement('movimientos-app');
            elem.setAttribute("role", this.role);
            elem.setAttribute("puntos", this.puntos);
            elem.setAttribute("name", this.name);
            elem.setAttribute("idusuario", this.idusuario);
            document.body.appendChild(elem);
          }
          direccion(){
            document.body.removeChild(this);
            var elem = document.createElement('direccion-app');
            elem.setAttribute("role", this.role);
            elem.setAttribute("puntos", this.puntos);
            elem.setAttribute("name", this.name);
            elem.setAttribute("idusuario", this.idusuario);
            document.body.appendChild(elem);
          }
          salir() {
            document.body.removeChild(this);
            var elem = document.createElement('login-app');
            document.body.appendChild(elem);
          }

      }

      window.customElements.define(BasesApp.is, BasesApp);
    </script>

</dom-module>
