h2, h3
{
  color: black;
  text-align: center;
  margin: 0 auto;
}
h1, h4, h5, h6, p
{
  text-align: center;
  margin: 0 auto;
}
.text-link
{
  color: blue;
  text-decoration: underline;
  text-align: center;
  margin: 0 auto;
}
.text-red
{
  color: red;
  text-align: center;
  margin: 0 auto;
}
.innerbox
{
   width:1500px;
   max-width:1500px;
   display: inline-block;
   border: 5px solid;
   border-color: #2196F3;
   border-radius: 12px;
   padding: 15px;
}
.bigbox
{
   width:1500px; /* or whatever width you want. */
   max-width:1500px; /* or whatever width you want. */
   display: inline-block;
   background-color: #e6faff;
   border: 5px solid;
   border-color: #2196F3;
   border-radius: 12px;
   padding: 15px;
}
.btn {
  text-align: center;
  margin: 0 auto;
}
.card {
  text-align: center;
  margin: 0 auto;
}
