<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/src/bases-app/bases-app.html">
<link rel="import" href="/src/productos-app/productos-app.html">
<link rel="import" href="/src/inicio-app/inicio-app.html">
<link rel="import" href="/src/direccion-app/direccion-app.html">
<link rel="import" href="/src/login-app/login-app.html">


Access-Control-Allow-Origin: *;

<dom-module id="movimientos-app">
    <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="css/fondo.css">
    <link rel="stylesheet" href="css/estilos.css">

      <div class="container-sm innerbox" id="contenedor">

        <div class="row" id="cabecera">
          <img src="/img/bbva.jpeg" alt="" width="200px" height="50px">
          <button on-click="inicio" type="button" name="button" class="btn btn-success">INICIO</button>
          <button on-click="bases" type="button" name="button" class="btn btn-success">BASES</button>
          <button on-click="productos" type="button" name="button" class="btn btn-success">PRODUCTOS</button>
          <button on-click="" type="button" name="button" class="btn btn-success">MIS PEDIDOS</button>
          <button on-click="direccion" type="button" name="button" class="btn btn-success">DIRECCION DE ENVIO</button>
          <button on-click="salir" type="button" name="button" class="btn btn-success">SALIR</button>
        </div>

        <div class="row form-group" id="menu">
          <div class="card-body">
            <h5 class="card-title">Bienvenido [[name]]</h5>
              <img src="/img/usuario.jpeg" alt="" width="100px" height="100px">
              <p class="card-text">Perfil: [[role]]</p>
              <p class="card-text">Puntos: [[puntos]]</p>
          </div>
        </div>

        <div class="row form-group" id="contenido">
          <div class="row form-group" id="principal">
            <h2>Tus pedidos</h2>
          </div>

          <div class="row form-group" id="secundario">
            <table class="table table-hover">
              <thead>
                <th>Nombre</th>
                <th>Puntos</th>
              </thead>
              <tbody>
            <template is="dom-repeat" items="{{movimientos}}">
              <tr>
                <td>[[item.nombre]]</td>
                <td>[[item.puntos]]</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
      </div>

      <iron-ajax
        id="ajaxRequest"
        url="{{url}}{{idusuario}}/Movimientos"
        content-type="application/json"
        crossDomain: true
        dataType:'jsonp'
        handle-as="json"
        auto=true
        headers="Access-Control-Allow-Headers: *"
        on-response="manageAJAXResponse"
        on-error="showError">
     </iron-ajax>
</template>

    <script>
      /**
       * @customElement
       * @polymer
       */
      class MovimientosApp extends Polymer.Element {
        static get is() { return 'movimientos-app'; }
        static get properties() {
        return {
          idusuario: {
            type: Number
          },
          movimientos: {
            type: Array,
            notify: true
          },
          url: {
            type: String,
            value: "http://localhost:3003/Usuarios/"
          },
          name: {
            type: String
          },
          role:{
            type: String
          },
          puntos:{
            type:Number
          }
        };
      }
      manageAJAXResponse(data) {
        this.movimientos = data.detail.response.movimientos;
      }

      showError(error) {
        alert("Ocurrió un error al obtener tus movimientos");
      }


      inicio(){
            document.body.removeChild(this);
            var elem = document.createElement('inicio-app');
            elem.setAttribute("role", this.role);
            elem.setAttribute("puntos", this.puntos);
            elem.setAttribute("name", this.name);
            elem.setAttribute("idusuario", this.idusuario);
            document.body.appendChild(elem);
          }
      bases(){
        document.body.removeChild(this);

        var elem = document.createElement('bases-app');
        elem.setAttribute("role", this.role);
        elem.setAttribute("puntos", this.puntos);
        elem.setAttribute("name", this.name);
        elem.setAttribute("idusuario", this.idusuario);
        document.body.appendChild(elem);
      }
      productos(){
        document.body.removeChild(this);
        var elem = document.createElement('productos-app');
        elem.setAttribute("role", this.role);
        elem.setAttribute("puntos", this.puntos);
        elem.setAttribute("name", this.name);
        elem.setAttribute("idusuario", this.idusuario);
        document.body.appendChild(elem);
      }
      direccion(){
        document.body.removeChild(this);
        var elem = document.createElement('direccion-app');
        elem.setAttribute("role", this.role);
        elem.setAttribute("puntos", this.puntos);
        elem.setAttribute("name", this.name);
        elem.setAttribute("idusuario", this.idusuario);
        document.body.appendChild(elem);
      }
      salir() {
        document.body.removeChild(this);
        var elem = document.createElement('login-app');
        document.body.appendChild(elem);
      }



      }

      window.customElements.define(MovimientosApp.is, MovimientosApp);
    </script>

</dom-module>
