<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/inicio-app/inicio-app.html">
<link rel="import" href="/src/forgot-password/forgot-password.html">

Access-Control-Allow-Origin: *;

<dom-module id="login-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="css/fondo.css">
    <div class="container-sm innerbox">
      <div class="row form-group" id="contenido">
        <h2>Inicia Sesi&oacute;n</h2>
      </div>
      <div class="row form-group">
        <input type="email" class="form-control" placeholder="Dirección de correo" value="{{email::input}}">
      </div>
      <div class="row form-group">
        <input type="password" class="form-control" placeholder="Contraseña" value="{{password::input}}">
      </div>
      <div class="row form-group">
        <button on-click="login" type="button" class="btn btn-primary">Entrar</button>
      </div>
    </div>

    <iron-ajax
     id="ajaxRequest"
     url="http://localhost:3003/login"
     content-type="application/json"
     crossDomain: true
     dataType:'jsonp'
     method="POST"
     handle-as="json"
     headers="Access-Control-Allow-Headers: *"
     on-response="manageAJAXResponse"
     on-error="showError">
   </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          loggeado: {
            type: Boolean,
            value: false
          }
        };
      }

      login() {
        var loginData = {"email":this.email , "password":this.password};
        this.$.ajaxRequest.body = JSON.stringify(loginData);
        this.$.ajaxRequest.generateRequest();
      }

      manageAJAXResponse(data) {
        //Oculta login
        document.body.removeChild(this);
        var nombreVendedor = data.detail.response.nombreVendedor;
        var elem = document.createElement('inicio-app');
        elem.setAttribute("name",nombreVendedor);
        elem.setAttribute('idusuario', data.detail.response.idUsuario);
        document.body.appendChild(elem);
      }

      showError(error) {
        alert("Datos ingresados incorrectos, por favor valide");
      }


    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
