<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="/src/inicio-app/inicio-app.html">
<link rel="import" href="/src/productos-app/productos-app.html">
<link rel="import" href="/src/movimientos-app/movimientos-app.html">
<link rel="import" href="/src/login-app/login-app.html">



Access-Control-Allow-Origin: *;

<dom-module id="direccion-app">
    <template>
    <style>
      :host {
        display: block;
      }
      google-map {
        height: 400px;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="css/fondo.css">
    <link rel="stylesheet" href="css/estilos.css">

      <div class="container-sm innerbox" id="contenedor">

        <div class="row" id="cabecera">
          <img src="/img/bbva.jpeg" alt="" width="200px" height="50px">
          <button on-click="inicio" type="button" name="button" class="btn btn-success">INICIO</button>
          <button on-click="" type="button" name="button" class="btn btn-success">BASES</button>
          <button on-click="productos" type="button" name="button" class="btn btn-success">PRODUCTOS</button>
          <button on-click="movimientos" type="button" name="button" class="btn btn-success">MIS PEDIDOS</button>
          <button on-click="" type="button" name="button" class="btn btn-success">DIRECCION DE ENVIO</button>
          <button on-click="salir" type="button" name="button" class="btn btn-success">SALIR</button>
        </div>

        <div class="row form-group" id="menu">
          <div class="card-body">
            <h5 class="card-title">Bienvenido [[name]]</h5>
            <img src="/img/usuario.jpeg" alt="" width="100px" height="100px">
              <p class="card-text">Perfil [[role]]</p>
              <p class="card-text">Puntos [[puntos]]</p>
          </div>
        </div>

        <div class="row form-group" id="contenido">
            <h1 style="color:red">Dirección</h1>
            <input type="text" class="form-control" placeholder="Latitud" value="{{latitud::input}}">
            <input type="text" class="form-control" placeholder="Longitud" value="{{longitud::input}}">
          <google-map latitude="40.4" longitude="-3.7" zoom=11></google-map>
          <google-map-marker latitude="[[latitud]]" longitude="[[longitud]]" draggable="true" title="Direccion de Envio!!"></google-map-marker>
        </div>

      </div>
</template>

    <script>
      /**
       * @customElement
       * @polymer
       */
      class DireccionApp extends Polymer.Element {
        static get is() { return 'direccion-app'; }
        static get properties() {
          return {
            name: {
              type: String
            },
            role:{
              type: String
            },
            puntos:{
              type:Number
            },
            idusuario: {
              type: Number
            },
            latitud: {
              type: Number
            },
            longitud: {
              type: Number
            }
          };
        }

          inicio(){
                document.body.removeChild(this);
                var elem = document.createElement('inicio-app');
                elem.setAttribute("role", this.role);
                elem.setAttribute("puntos", this.puntos);
                elem.setAttribute("name", this.name);
                elem.setAttribute("idusuario", this.idusuario);
                document.body.appendChild(elem);
              }

          productos(){
            document.body.removeChild(this);
            var elem = document.createElement('productos-app');
            elem.setAttribute("role", this.role);
            elem.setAttribute("puntos", this.puntos);
            elem.setAttribute("name", this.name);
            elem.setAttribute("idusuario", this.idusuario);
            document.body.appendChild(elem);
          }
          movimientos(){
            document.body.removeChild(this);
            var elem = document.createElement('movimientos-app');
            elem.setAttribute("role", this.role);
            elem.setAttribute("puntos", this.puntos);
            elem.setAttribute("name", this.name);
            elem.setAttribute("idusuario", this.idusuario);
            document.body.appendChild(elem);
          }
          bases(){
            document.body.removeChild(this);
            var elem = document.createElement('bases-app');
            elem.setAttribute("role", this.role);
            elem.setAttribute("puntos", this.puntos);
            elem.setAttribute("name", this.name);
            elem.setAttribute("idusuario", this.idusuario);
            document.body.appendChild(elem);
          }
          salir() {
            document.body.removeChild(this);
            var elem = document.createElement('login-app');
            document.body.appendChild(elem);
          }

      }

      window.customElements.define(DireccionApp.is, DireccionApp);
    </script>

</dom-module>
