<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/src/bases-app/bases-app.html">
<link rel="import" href="/src/inicio-app/inicio-app.html">
<link rel="import" href="/src/movimientos-app/movimientos-app.html">
<link rel="import" href="/src/direccion-app/direccion-app.html">
<link rel="import" href="/src/login-app/login-app.html">


Access-Control-Allow-Origin: *;

<dom-module id="productos-app">
    <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="css/fondo.css">
    <link rel="stylesheet" href="css/estilos.css">

      <div class="container-sm innerbox" id="contenedor">
        <div class="row" id="cabecera">
          <img src="/img/bbva.jpeg" alt="" width="200px" height="50px">
          <button on-click="inicio" type="button" name="button" class="btn btn-success">INICIO</button>
          <button on-click="bases" type="button" name="button" class="btn btn-success">BASES</button>
          <button on-click="" type="button" name="button" class="btn btn-success">PRODUCTOS</button>
          <button on-click="movimientos" type="button" name="button" class="btn btn-success">MIS PEDIDOS</button>
          <button on-click="direccion" type="button" name="button" class="btn btn-success">DIRECCION DE ENVIO</button>
          <button on-click="salir" type="button" name="button" class="btn btn-success">SALIR</button>
        </div>

        <div class="row form-group" id="menu">
          <div class="card-body">
            <h5 class="card-title">Bienvenido [[name]]</h5>
            <img src="/img/usuario.jpeg" alt="" width="100px" height="100px">
              <p class="card-text">Perfil: [[role]]</p>
              <p class="card-text">Puntos: [[puntos]]</p>
          </div>
        </div>

          <div class="row form-group" id="contenido">
            <table class="table table-hover">
              <thead>
                <th>Vista Previa</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Stock</th>
                <th>Puntos</th>
              </thead>
              <tbody>
                <template is="dom-repeat" items="{{productos}}">
                  <tr >
                    <td><img src="/img/[[item.name]].jpg" alt="[[item.name]]" width="200px" height="200px"></td>
                    <td>[[item.name]]</td>
                    <td>[[item.marca]]</td>
                    <td>[[item.stock]]</td>
                    <td>[[item.puntos]]</td>
                    <td><p on-click="obtener" class="btn btn-primary" style="display: block;">Detalle de movimientos<span hidden>[[item.name]]</span><span hidden>[[item.puntos]]</span><span hidden>[[item.stock]]</span></p></td>
                  </tr>
                </template>
              </tbody>
            </table>
        </div>
        </div>



      <iron-ajax
        id="ajaxRequest"
        url="{{url}}"
        content-type="application/json"
        crossDomain: true
        dataType:'jsonp'
        handle-as="json"
        auto=true
        headers="Access-Control-Allow-Headers: *"
        on-response="manageAJAXResponse"
        on-error="showError">
      </iron-ajax>

</template>

    <script>
      /**
       * @customElement
       * @polymer
       */
      class ProductosApp extends Polymer.Element {
        static get is() { return 'productos-app'; }
        static get properties() {
        return {
          usuario: {
            type: String
          },
          idusuario: {
            type: Number
          },
          puntosProducto: {
            type: Number
          },
          productos: {
            type: Array
          },
          recienCargado: {
            type: Boolean,
            value: true
          },
          url: {
            type: String,
            value: "http://localhost:3003/Productos"
          },
          nameProducto: {
            type:String
          },
          name: {
            type: String
          },
          role:{
            type: String
          },
          puntos:{
            type:Number
          },
          stock:{
            type:Number
          }
        };
      }


      obtener(e) {
        var nameProducto = e.target.children[0].innerHTML;
        var puntosProducto = e.target.children[1].innerHTML;
        var stock = e.target.children[2].innerHTML;
        this.puntos= this.puntos - puntosProducto;
        console.log( nameProducto + " " + puntosProducto + " " + stock + " " + this.puntos);
        var compra = {
          "importeMov": puntosProducto,
          "nombreProducto": nameProducto,
          "puntos": this.puntos
        };
        this.$.ajaxRequest.method = "POST";
        this.$.ajaxRequest.body = JSON.stringify(compra);
        this.$.ajaxRequest.url = "http://localhost:3003/Usuarios/"+this.idusuario+"/Movimientos";
      }

      manageAJAXResponse(data) {
        if(this.recienCargado){
          this.productos = data.detail.response;
          this.recienCargado = false;
        } else {
          alert("Tu compra ha sido aceptada");
          document.body.removeChild(this);
          var elem = document.createElement('movimientos-app');
          elem.setAttribute('idusuario', this.idusuario);
          elem.setAttribute("role", this.role);
          elem.setAttribute("puntos", this.puntos);
          elem.setAttribute("name", this.name);
          document.body.appendChild(elem);
          }
    }

      showError(error) {
        alert("Ocurrió un error al conseguir los productos");
      }


      inicio(){
            document.body.removeChild(this);
            var elem = document.createElement('inicio-app');
            elem.setAttribute("role", this.role);
            elem.setAttribute("puntos", this.puntos);
            elem.setAttribute("name", this.name);
            elem.setAttribute("idusuario", this.idusuario);
            document.body.appendChild(elem);
          }
      bases(){
        document.body.removeChild(this);
        var elem = document.createElement('bases-app');
        elem.setAttribute("role", this.role);
        elem.setAttribute("puntos", this.puntos);
        elem.setAttribute("name", this.name);
        elem.setAttribute("idusuario", this.idusuario);
        document.body.appendChild(elem);
      }

      movimientos(){
        document.body.removeChild(this);
        var elem = document.createElement('movimientos-app');
        elem.setAttribute("role", this.role);
        elem.setAttribute("puntos", this.puntos);
        elem.setAttribute("name", this.name);
        elem.setAttribute("idusuario", this.idusuario);
        document.body.appendChild(elem);
      }
      direccion(){
        document.body.removeChild(this);
        var elem = document.createElement('direccion-app');
        elem.setAttribute("role", this.role);
        elem.setAttribute("puntos", this.puntos);
        elem.setAttribute("name", this.name);
        elem.setAttribute("idusuario", this.idusuario);
        document.body.appendChild(elem);
      }
      salir() {
        document.body.removeChild(this);
        var elem = document.createElement('login-app');
        document.body.appendChild(elem);
      }


      }

      window.customElements.define(ProductosApp.is, ProductosApp);
    </script>

</dom-module>
