<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/src/bases-app/bases-app.html">
<link rel="import" href="/src/productos-app/productos-app.html">
<link rel="import" href="/src/movimientos-app/movimientos-app.html">
<link rel="import" href="/src/direccion-app/direccion-app.html">
<link rel="import" href="/src/login-app/login-app.html">


Access-Control-Allow-Origin: *;

<dom-module id="inicio-app">
    <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="css/fondo.css">
    <link rel="stylesheet" href="css/estilos.css">

      <div class="container-sm innerbox" id="contenedor">

        <div class="row" id="cabecera">
          <img src="/img/bbva.jpeg" alt="" width="200px" height="50px">
          <button on-click="" type="button" name="button" class="btn btn-success">INICIO</button>
          <button on-click="bases" type="button" name="button" class="btn btn-success">BASES</button>
          <button on-click="productos" type="button" name="button" class="btn btn-success">PRODUCTOS</button>
          <button on-click="movimientos" type="button" name="button" class="btn btn-success">MIS PEDIDOS</button>
          <button on-click="direccion" type="button" name="button" class="btn btn-success">DIRECCION DE ENVIO</button>
          <button on-click="salir" type="button" name="button" class="btn btn-success">SALIR</button>
        </div>

        <div class="row form-group" id="menu">
          <div class="card-body">
            <h5 class="card-title">Bienvenido [[name]]</h5>
              <img src="/img/usuario.jpeg" alt="" width="100px" height="100px">
              <p class="card-text">Perfil: [[role]]</p>
              <p class="card-text">Puntos: [[puntos]]</p>
          </div>
        </div>

        <div class="row form-group" id="contenido">
          <div class="row">
            <img src="/img/banner1.jpeg" alt="" width="1300px" height="250px">
          </div>
         <table class="table table-hover">
          <thead>
            <th>FORMALIZACIONES</th>
            <th>SEGUROS</th>
            <th>PUNTOS</th>
          </thead>
          <tbody>
            <tr>
              <th><img src="https://image.flaticon.com/icons/svg/3141/3141942.svg" alt="" width="200px" height="200px"></th>
              <th><img src="https://image.flaticon.com/icons/svg/3141/3141962.svg" alt="" width="200px" height="200px"></th>
              <th><img src="https://image.flaticon.com/icons/svg/3142/3142061.svg" alt="" width="200px" height="200px"></th>
            </tr>
              <th><h2>[[formalizaciones]]</h2></th>
              <th><h2>[[seguros]]</h2></th>
              <th><h2>[[puntos]]</h2></th>
            <tr>

            </tr>
          </tbody>
         </table>
        </div>


      </div>

      <iron-ajax
        id="ajaxRequest"
        url="{{url}}{{idusuario}}"
        content-type="application/json"
        crossDomain: true
        dataType:'jsonp'
        handle-as="json"
        auto=true
        headers="Access-Control-Allow-Headers: *"
        on-response="manageAJAXResponse"
        on-error="showError" >
      </iron-ajax>
</template>

    <script>
      /**
       * @customElement
       * @polymer
       */
      class InicioApp extends Polymer.Element {
        static get is() { return 'inicio-app'; }
        static get properties() {
        return {
          name: {
            type: String,
            notify: true
          },
          formalizaciones: {
            type: Number,
            notify: true
          },
          idusuario: {
            type: Number,
          },
          url: {
            type: String,
            value: "http://localhost:3003/Usuarios/"
          },
          seguros: {
            type: Number
          },
          puntos: {
            type: Number
          },
          role: {
            type: String,
            notify: true
          },
          recienCargado: {
            type: Boolean,
            value: true
          }
        };
      }


     manageAJAXResponse(data) {
        if (this.recienCargado) {
          this.recienCargado = false;
          this.name = data.detail.response.name;
          this.formalizaciones = data.detail.response.formalizaciones;
          this.seguros = data.detail.response.seguros;
          this.puntos = data.detail.response.puntos;
          this.role = data.detail.response.role;
          this.$.ajaxRequest.url = "http://localhost:3003/Usuarios/" + this.idusuario;
       } else {
         this.usuarios = data.detail.response.usuarios;
       }
    }

      showError(error) {
        alert("Ocurrió un error al obtener tus datos");
      }


      bases(){
        document.body.removeChild(this);
        var elem = document.createElement('bases-app');
        elem.setAttribute("role", this.role);
        elem.setAttribute("puntos", this.puntos);
        elem.setAttribute("name", this.name);
        elem.setAttribute("idusuario", this.idusuario);
        document.body.appendChild(elem);
      }
      productos(){
        document.body.removeChild(this);
        var elem = document.createElement('productos-app');
        elem.setAttribute("role", this.role);
        elem.setAttribute("puntos", this.puntos);
        elem.setAttribute("name", this.name);
        elem.setAttribute("idusuario", this.idusuario);
        document.body.appendChild(elem);
      }
      movimientos(){
        document.body.removeChild(this);
        var elem = document.createElement('movimientos-app');
        elem.setAttribute("role", this.role);
        elem.setAttribute("puntos", this.puntos);
        elem.setAttribute("name", this.name);
        elem.setAttribute("idusuario", this.idusuario);
        document.body.appendChild(elem);
      }
      direccion(){
        document.body.removeChild(this);
        var elem = document.createElement('direccion-app');
        elem.setAttribute("role", this.role);
        elem.setAttribute("puntos", this.puntos);
        elem.setAttribute("name", this.name);
        elem.setAttribute("idusuario", this.idusuario);
        document.body.appendChild(elem);
      }
      salir() {
        document.body.removeChild(this);
        var elem = document.createElement('login-app');
        document.body.appendChild(elem);
      }


      }

      window.customElements.define(InicioApp.is, InicioApp);
    </script>

</dom-module>
